@using ContainerControl.Domain.Model
@model Container

<div class="container-fluid form-group" data-bind="with: model">
    <div class="row">
        <div class="col-md-12">
            <label for="edId">ID: </label>
            <input ID="edId" name="edId" type="text" class="form-control" disabled="disabled" data-bind="value: Id"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label for="edNroContainer">NroContainer: </label>
            <input ID="edNroContainer" name="edNroContainer" type="text" class="form-control" data-bind="value: NroContainer"/>
        </div>
        <div class="col-md-4">
            <label for="edxCodigoIso">C&oacute;digo ISO: </label>
            <select ID="edxCodigoIso" name="edxCodigoIso" class="form-control">
                <option value="-1">--Selecione--</option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="edDataFabricacao">Data de fabrica&ccedil;&atilde;o:</label>
            <input ID="edDataFabricacao" name="edDataFabricacao" type="datetime-local" class="form-control" data-bind="value: Fabricacao"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label for="edTara">Tara: </label>
            <input ID="edTara" name="edTara" type="number" class="form-control" data-bind="value: Tara"/>
        </div>
        <div class="col-md-4">
            <label for="edCM">CM: </label>
            <input ID="edCM" name="edCM" type="number" class="form-control" data-bind="value: CM"/>
        </div>
        <div class="col-md-4">
            <label for="edPeso">Peso: </label>
            <input ID="edPeso" name="edPeso" type="number" class="form-control" data-bind="value: Peso"/>
        </div>
    </div>
</div>

<script type="text/javascript">
    function ModelBinding() {
        this.model = @Html.Raw(Json.Encode(Model));
    }

    ko.applyBindings(new ModelBinding());
</script>