@using ContainerControl.Domain.Model;
@model CodigoIso

<div class="container-fluid form-group">
    <div class="row">
        <div class="col-md-12">
            <label for="edCodigo">C&oacute;digo: </label>
            <input ID="edCodigo" name="edCodigo" type="text" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label for="edNome">Nome: </label>
            <input ID="edNome" name="edNome" type="text" class="form-control" />
        </div>
    </div>
</div>