@using ContainerControl.Domain.Model;
@model CodigoIso

<div class="container-fluid form-group">
    <div class="row">
        <div class="col-md-12">
            @Html.LabelFor(m => m.Codigo);
            @Html.TextBoxFor(m => m.Codigo, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.LabelFor(m => m.Nome);
            @Html.TextBoxFor(m => m.Nome, new { @class= "form-control" })
        </div>
    </div>
</div>