@model bool

@using (Html.BeginForm("SalvaCodigo", "CodigoIso", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            <label for="ddlCodigosIso">Código:</label>
            <select Id="ddlCodigosIso" class="form-control">
                <option value="-1">--Selecione--</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label for="txtNomeCodigoIso">Nome:</label>
            <input type="text" id="txtNomeCodigoIso" class="form-control"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label for="txtCodigoCodigoIso">C&oacute;digo:</label>
            <input type="text" id="txtCodigoCodigoIso" class="form-control"/>
            <input type="hidden" id="hdnIdCodigoIso" value="@Guid.Empty"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="button" id="btnSalvarCodigoIso" class="btn btn-success pull-right">Salvar</button>
        </div>
    </div>
}

<script type="text/javascript">

    var enableSelect = @Json.Encode(Model);

    if(enableSelect)
    $.getJSON("../CodigoIso/ListarCodigos")
        .done(function(data) {
            data.forEach(function(e, i) {
                $("#ddlCodigosIso").append("<option name='" + e.Codigo + "' value='" + e.Id + "'>" + e.Nome + "</option>");
            });
        })
        .fail(function(err) {
            console.log(err);
        });

    $("#ddlCodigosIso").prop('disabled', !enableSelect);
    
    $("#ddlCodigosIso").change(function() {
        var data = {
            "id": $(this).val()
        };

        $.getJSON("../CodigoIso/CapturaCodigo", data)
            .done(function(data) {
                $("#hdnIdCodigoIso").val(data.Id);
                $("#txtNomeCodigoIso").val(data.Nome);
                $("#txtCodigoCodigoIso").val(data.Codigo);
            })
            .fail(function(err) {
                console.log(err);
            });
    });

    $("#btnSalvarCodigoIso").click(function() {
        var data = {
            Id: $("#hdnIdCodigoIso").val(),
            Nome: $("#txtNomeCodigoIso").val(),
            Codigo: $("#txtCodigoCodigoIso").val()
        };

        SalvarCodigo(data);
    });

    var SalvarCodigo = function(data) {

        $.post("../CodigoIso/SalvaCodigo", data)
            .done(function(res) {
                console.log(res);
                location.reload();
            })
            .fail(function(err) {
                console.log(err);
            });

    };

</script>